* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 4vw;
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: 7px;
  color: #fff;
}

@media (min-width: 750px) and (orientation: portrait) {
  h1 {
    line-height: 60px;
  }
}

@media (min-width: 560px) and (orientation: landscape) {
  h1 {
    font-size: 2.5vw;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  h1 {
    font-size: 35px;
    line-height: 60px;
  }
}

@media (min-width: 1300px) and (orientation: landscape) {
  h1 {
    font-size: 45px;
    line-height: 90px;
  }
}

h2 {
  font-size: 55px;
  font-weight: 300;
  color: #AA8C41;
}

h3 {
  font-size: 3vw;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 10px;
  color: #ffffff;
}

@media (min-width: 750px) and (orientation: portrait) {
  h3 {
    line-height: 50px;
  }
}

@media (min-width: 980px) and (orientation: portrait) {
  h3 {
    line-height: 60px;
  }
}

@media (min-width: 560px) and (orientation: landscape) {
  h3 {
    font-size: 2vw;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  h3 {
    font-size: 25px;
    line-height: 60px;
  }
}

a {
  text-decoration: none;
  color: #AA8C41;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 16px;
  line-height: 30px;
  padding-bottom: 5px;
  overflow: hidden;
}

a:hover {
  border-bottom: 2px solid #AA8C41;
}

.button {
  background-color: transparent;
  border: 2px solid #AA8C41;
  border-radius: 50px;
  width: 190px;
  height: 50px;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 10px;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: 980px) and (orientation: portrait) {
  .button {
    width: 250px;
    height: 80px;
    font-size: 22px;
  }
}

@media (min-width: 560px) and (orientation: landscape) {
  .button {
    width: 150px;
    height: 35px;
    font-size: 10px;
  }
}

@media (min-width: 640px) and (orientation: landscape) {
  .button {
    width: 180px;
    height: 45px;
    font-size: 12px;
  }
}

.button:hover {
  background-color: #AA8C41;
}

.ico {
  width: 40px;
  height: 40px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.fsvideo {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fsvideo__video {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -99;
}

.header {
  position: relative;
  width: 100%;
  height: 100vh;
}

.header__nav--hamburger {
  position: fixed;
  left: 80%;
  z-index: 1000;
}

@media (min-width: 560px) and (orientation: landscape) {
  .header__nav--hamburger {
    left: 85%;
  }
}

@media (min-width: 750px) and (orientation: portrait) {
  .header__nav--hamburger {
    left: 85%;
    top: 50px;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .header__nav--hamburger .hamburger-box {
    display: none;
  }
}

.header__aside {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: -100%;
  background-color: #000;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 999;
}

.header__aside--active {
  left: 0;
  opacity: .95;
}

.header__logo {
  position: absolute;
  top: -50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 280px;
  height: 300px;
  background-position: -15px center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/LogoMenu.png);
}

@media (min-width: 750px) and (orientation: portrait) {
  .header__logo {
    width: 450px;
    height: 450px;
    background-position: -35px center;
  }
}

@media (min-width: 560px) and (orientation: landscape) {
  .header__logo-menumobile {
    top: 40%;
    left: 2vw;
    -webkit-transform: translateX(0) translateY(-50%);
            transform: translateX(0) translateY(-50%);
  }
}

@media (min-width: 560px) and (orientation: landscape) {
  .header__logo-mobilelandscape {
    top: -15%;
    width: 180px;
    height: 200px;
  }
}

@media (min-width: 640px) and (orientation: landscape) {
  .header__logo-mobilelandscape {
    top: -10%;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .header__logo-mobilelandscape {
    display: none;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .header__logo {
    display: none;
  }
}

.header__navmobile--box {
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  text-align: center;
  line-height: 50px;
}

@media (min-width: 750px) and (orientation: portrait) {
  .header__navmobile--box {
    line-height: 80px;
  }
}

@media (min-width: 560px) and (orientation: landscape) {
  .header__navmobile--box {
    top: 5vh;
    width: 50%;
    left: 65%;
  }
}

@media (min-width: 640px) and (orientation: landscape) {
  .header__navmobile--box {
    top: 10vh;
  }
}

@media (min-width: 750px) and (orientation: portrait) {
  .header__navmobile--box-element {
    font-size: 22px;
  }
}

.header__navmobile--footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(90vh);
          transform: translateX(-50%) translateY(90vh);
  width: 200px;
  height: 50px;
}

@media (min-width: 560px) and (orientation: landscape) {
  .header__navmobile--footer {
    left: 8%;
    -webkit-transform: translateY(70vh);
            transform: translateY(70vh);
  }
}

.header__navmobile--footer-fb {
  background-image: url(../ico/fbico.png);
}

.header__navmobile--footer-in {
  background-image: url(../ico/inico.png);
}

.header__navpc {
  display: none;
  position: fixed;
  left: 70px;
  top: 55px;
  height: 30px;
  width: 85%;
  -webkit-transition: top 400ms ease-in-out;
  transition: top 400ms ease-in-out;
  z-index: 1000;
}

@media (min-width: 1024px) and (orientation: landscape) {
  .header__navpc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__navpc--up {
  top: -175px;
}

.header__navpc--logo {
  width: 175px;
  height: 125px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/LogoMenuBlack.png);
}

.header__navpc--box {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
}

@media (min-width: 1024px) and (orientation: portrait) {
  .header__navpc--box-element {
    font-size: 12px;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .header__navpc--box-element {
    font-size: 1vw;
    font-weight: bold;
  }
}

@media (min-width: 1400px) and (orientation: landscape) {
  .header__navpc--box-element {
    font-size: 14px;
  }
}

.header__text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 30%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 90%;
  text-align: center;
}

@media (min-width: 400px) and (orientation: portrait) {
  .header__text {
    top: 35%;
  }
}

@media (min-width: 750px) and (orientation: portrait) {
  .header__text {
    width: 75%;
  }
}

@media (min-width: 560px) and (orientation: landscape) {
  .header__text {
    width: 70%;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .header__text {
    left: 100px;
    -webkit-transform: none;
            transform: none;
    max-width: 800px;
    text-align: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (min-width: 1300px) and (orientation: landscape) {
  .header__text {
    top: 25%;
  }
}

.header__text--herotext {
  margin-bottom: 50px;
}

@media (min-width: 360px) and (orientation: portrait) {
  .header__text--herotext {
    margin-bottom: 75px;
  }
}

@media (min-height: 750px) and (orientation: portrait) {
  .header__text--herotext {
    margin-bottom: 100px;
  }
}

@media (min-width: 560px) and (orientation: landscape) {
  .header__text--herotext {
    margin-bottom: 20px;
  }
}

@media (min-width: 640px) and (orientation: landscape) {
  .header__text--herotext {
    margin-bottom: 30px;
  }
}

.header__text--herosecond {
  margin-bottom: 50px;
}

@media (min-width: 360px) and (orientation: portrait) {
  .header__text--herosecond {
    margin-bottom: 75px;
  }
}

@media (min-height: 750px) and (orientation: portrait) {
  .header__text--herosecond {
    margin-bottom: 100px;
  }
}

@media (min-width: 560px) and (orientation: landscape) {
  .header__text--herosecond {
    margin-bottom: 20px;
  }
}

@media (min-width: 640px) and (orientation: landscape) {
  .header__text--herosecond {
    margin-bottom: 30px;
  }
}

.ich {
  position: relative;
  min-height: 200vh;
  width: 100%;
  background-color: #fff;
}
/*# sourceMappingURL=style.css.map */