* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 4vw;
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: 7px;
  color: #fff;
}

@media (min-width: 750px) and (orientation: portrait) {
  h1 {
    line-height: 60px;
  }
}

@media (min-width: 560px) and (orientation: landscape) {
  h1 {
    font-size: 2.5vw;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  h1 {
    font-size: 35px;
    line-height: 60px;
  }
}

@media (min-width: 1300px) and (orientation: landscape) {
  h1 {
    font-size: 45px;
    line-height: 90px;
  }
}

h2 {
  font-weight: 300;
  color: #AA8C41;
  font-size: 5vw;
  text-align: center;
}

@media (min-width: 660px) and (orientation: landscape) {
  h2 {
    font-size: 30px;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  h2 {
    font-size: 35px;
  }
}

h3 {
  font-size: 3vw;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 10px;
  color: #ffffff;
}

@media (min-width: 750px) and (orientation: portrait) {
  h3 {
    line-height: 50px;
  }
}

@media (min-width: 980px) and (orientation: portrait) {
  h3 {
    line-height: 60px;
  }
}

@media (min-width: 560px) and (orientation: landscape) {
  h3 {
    font-size: 2vw;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  h3 {
    font-size: 25px;
    line-height: 60px;
  }
}

p {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 1px;
  word-spacing: 2px;
  text-align: justify;
  color: #707070;
}

a {
  text-decoration: none;
  color: #AA8C41;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 16px;
  line-height: 30px;
  padding-bottom: 5px;
  overflow: hidden;
}

a:hover {
  border-bottom: 2px solid #AA8C41;
}

span {
  color: #AA8C41;
  font-weight: 700;
}

.button {
  background-color: transparent;
  border: 2px solid #AA8C41;
  border-radius: 50px;
  width: 180px;
  height: 50px;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 10px;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: 980px) and (orientation: portrait) {
  .button {
    width: 250px;
    height: 80px;
    font-size: 22px;
  }
}

@media (min-width: 560px) and (orientation: landscape) {
  .button {
    width: 150px;
    height: 35px;
    font-size: 10px;
  }
}

@media (min-width: 640px) and (orientation: landscape) {
  .button {
    width: 180px;
    height: 45px;
    font-size: 12px;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .button {
    width: 200px;
    height: 60px;
    font-size: 16px;
  }
}

.button:hover {
  background-color: #AA8C41;
}

.ico {
  width: 40px;
  height: 40px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper {
  width: 70%;
  margin: 0 auto;
  padding-top: 20px;
}

.break {
  position: relative;
  width: 100%;
  height: 40vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@media (min-width: 360px) and (orientation: portrait) {
  .break {
    height: 50vh;
  }
}

@media (min-width: 760px) and (orientation: portrait) {
  .break {
    height: 40vh;
  }
}

@media (min-width: 560px) and (orientation: landscape) {
  .break {
    height: 70vh;
  }
}

.heading {
  margin: 50px auto 70px;
}

.fsvideo {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fsvideo__video {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -99;
}

.header {
  position: relative;
  width: 100%;
  height: 100vh;
}

.header__nav--hamburger {
  position: fixed;
  left: 80%;
  z-index: 1000;
}

@media (min-width: 560px) and (orientation: landscape) {
  .header__nav--hamburger {
    left: 85%;
  }
}

@media (min-width: 750px) and (orientation: portrait) {
  .header__nav--hamburger {
    left: 85%;
    top: 50px;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .header__nav--hamburger .hamburger-box {
    display: none;
  }
}

.header__aside {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: -100%;
  background-color: #000;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 999;
}

.header__aside--active {
  left: 0;
  opacity: .98;
}

.header__logo {
  position: absolute;
  top: -50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 280px;
  height: 300px;
  background-position: -15px center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/LogoMenu.png);
}

@media (min-width: 750px) and (orientation: portrait) {
  .header__logo {
    width: 450px;
    height: 450px;
    background-position: -35px center;
  }
}

@media (min-width: 560px) and (orientation: landscape) {
  .header__logo-menumobile {
    top: 40%;
    left: 2vw;
    -webkit-transform: translateX(0) translateY(-50%);
            transform: translateX(0) translateY(-50%);
  }
}

@media (min-width: 560px) and (orientation: landscape) {
  .header__logo-mobilelandscape {
    top: -15%;
    width: 180px;
    height: 200px;
  }
}

@media (min-width: 640px) and (orientation: landscape) {
  .header__logo-mobilelandscape {
    top: -10%;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .header__logo-mobilelandscape {
    display: none;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .header__logo {
    display: none;
  }
}

.header__navmobile--box {
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  text-align: center;
  line-height: 50px;
}

@media (min-width: 750px) and (orientation: portrait) {
  .header__navmobile--box {
    line-height: 80px;
  }
}

@media (min-width: 560px) and (orientation: landscape) {
  .header__navmobile--box {
    top: 5vh;
    width: 50%;
    left: 65%;
  }
}

@media (min-width: 640px) and (orientation: landscape) {
  .header__navmobile--box {
    top: 10vh;
  }
}

@media (min-width: 750px) and (orientation: portrait) {
  .header__navmobile--box-element {
    font-size: 22px;
  }
}

.header__navmobile--footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(90vh);
          transform: translateX(-50%) translateY(90vh);
  width: 200px;
  height: 50px;
}

@media (min-width: 560px) and (orientation: landscape) {
  .header__navmobile--footer {
    left: 8%;
    -webkit-transform: translateY(70vh);
            transform: translateY(70vh);
  }
}

.header__navmobile--footer-fb {
  background-image: url(../ico/fbico.png);
}

.header__navmobile--footer-in {
  background-image: url(../ico/inico.png);
}

.header__navpc {
  display: none;
}

@media (min-width: 1024px) and (orientation: landscape) {
  .header__navpc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    left: 70px;
    top: 55px;
    height: 30px;
    width: 85%;
    z-index: 1000;
  }
}

.header__navpc--logo {
  width: 175px;
  height: 125px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/LogoMenuBlack.png);
}

.header__navpc--box {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
}

@media (min-width: 1024px) and (orientation: portrait) {
  .header__navpc--box-element {
    font-size: 12px;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .header__navpc--box-element {
    font-size: 1vw;
    font-weight: bold;
  }
}

@media (min-width: 1400px) and (orientation: landscape) {
  .header__navpc--box-element {
    font-size: 14px;
  }
}

.header__navpcbgc {
  display: none;
}

@media (min-width: 1024px) and (orientation: landscape) {
  .header__navpcbgc.active {
    display: block;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 80px;
    background-color: #fff;
    z-index: 1000;
    -webkit-box-shadow: 0px 37px 48px -26px rgba(0, 0, 0, 0.43);
    box-shadow: 0px 37px 48px -26px rgba(0, 0, 0, 0.43);
    -webkit-transition: top 400ms ease-in-out;
    transition: top 400ms ease-in-out;
  }
  .header__navpcbgc.active--up {
    top: -80px;
  }
  .header__navpcbgc--wrapper {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 85%;
    height: 80px;
  }
  .header__navpcbgc--wrapper--logo {
    width: 175px;
    height: 80px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../img/LogoMenuBlack.png);
  }
  .header__navpcbgc--wrapper--box {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 80%;
  }
}

@media (min-width: 1024px) and (orientation: landscape) and (min-width: 1024px) and (orientation: portrait) {
  .header__navpcbgc--wrapper--box-element {
    font-size: 12px;
  }
}

@media (min-width: 1024px) and (orientation: landscape) and (min-width: 1024px) and (orientation: landscape) {
  .header__navpcbgc--wrapper--box-element {
    font-size: 1vw;
    font-weight: bold;
  }
}

@media (min-width: 1024px) and (orientation: landscape) and (min-width: 1200px) and (orientation: landscape) {
  .header__navpcbgc--wrapper--box-element {
    font-size: 12px;
  }
}

.header__text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 30%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 90%;
  text-align: center;
}

@media (min-width: 400px) and (orientation: portrait) {
  .header__text {
    top: 35%;
  }
}

@media (min-width: 750px) and (orientation: portrait) {
  .header__text {
    width: 75%;
  }
}

@media (min-width: 560px) and (orientation: landscape) {
  .header__text {
    width: 70%;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .header__text {
    left: 100px;
    top: 22%;
    -webkit-transform: none;
            transform: none;
    max-width: 800px;
    text-align: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (min-width: 1300px) and (orientation: landscape) {
  .header__text {
    top: 25%;
  }
}

.header__text--herotext {
  margin-bottom: 50px;
}

@media (min-width: 360px) and (orientation: portrait) {
  .header__text--herotext {
    margin-bottom: 75px;
  }
}

@media (min-height: 750px) and (orientation: portrait) {
  .header__text--herotext {
    margin-bottom: 100px;
  }
}

@media (min-width: 560px) and (orientation: landscape) {
  .header__text--herotext {
    margin-bottom: 20px;
  }
}

@media (min-width: 640px) and (orientation: landscape) {
  .header__text--herotext {
    margin-bottom: 30px;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .header__text--herotext {
    margin-bottom: 80px;
  }
}

.header__text--herosecond {
  margin-bottom: 50px;
}

@media (min-width: 360px) and (orientation: portrait) {
  .header__text--herosecond {
    margin-bottom: 75px;
  }
}

@media (min-height: 750px) and (orientation: portrait) {
  .header__text--herosecond {
    margin-bottom: 100px;
  }
}

@media (min-width: 560px) and (orientation: landscape) {
  .header__text--herosecond {
    margin-bottom: 20px;
  }
}

@media (min-width: 640px) and (orientation: landscape) {
  .header__text--herosecond {
    margin-bottom: 30px;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .header__text--herosecond {
    margin-bottom: 80px;
  }
}

.ich {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
}

.ich__wrapper--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1024px) and (orientation: landscape) {
  .ich__wrapper--content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

.ich__wrapper--content-rahmen {
  margin-bottom: 50px;
  width: 70vw;
  height: 70vw;
  max-width: 300px;
  max-height: 300px;
  padding: 5px;
  border: 2px solid #AA8C41;
}

@media (min-width: 360px) and (orientation: portrait) {
  .ich__wrapper--content-rahmen {
    width: 50vw;
    height: 50vw;
  }
}

@media (min-width: 560px) and (orientation: landscape) {
  .ich__wrapper--content-rahmen {
    width: 40vw;
    height: 40vw;
  }
}

@media (min-width: 640px) and (orientation: landscape) {
  .ich__wrapper--content-rahmen {
    width: 40vw;
    height: 40vw;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .ich__wrapper--content-rahmen {
    width: 400vw;
    height: 30vw;
    margin-right: 100px;
  }
}

.ich__wrapper--content-rahmen__foto {
  width: 98%;
  height: 98%;
  margin: 1% 0 0 1%;
  background-image: url(../img/UeberMichFoto.jpg);
  background-size: cover;
  background-position: center -35px;
  background-repeat: no-repeat;
}

@media (min-width: 1024px) and (orientation: landscape) {
  .ich__wrapper--content-rahmen-ueber {
    margin-left: 300px;
  }
}

.ich__wrapper--content-promovideo {
  position: relative;
  margin: 50px auto;
  width: 100%;
  height: 40vw;
  background-color: #000;
}

@media (min-width: 1024px) and (orientation: landscape) {
  .ich__wrapper--content-promovideo {
    height: 20vw;
    width: 75%;
  }
}

.ich__wrapper--content-promovideo::after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: 'Video';
  color: #fff;
}

.ich__wrapper--content-kontakt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ich__wrapper--content-kontakt__text {
  text-align: center;
  margin-bottom: 50px;
}

.ich__wrapper--content-kontakt__text-action {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: #AA8C41;
  margin-bottom: 50px;
}

.ich__wrapper--content-kontakt__button {
  color: #707070;
  margin-bottom: 50px;
}

@media (min-width: 760px) and (orientation: portrait) {
  .ich__wrapper--content-kontakt__button {
    margin-bottom: 150px;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .ich__wrapper--content-kontakt__button {
    margin-bottom: 150px;
  }
}

.ich__wrapper--content-kontakt__button:hover {
  color: #fff;
}

.break__logo {
  background-image: url(../img/teksture.jpg);
}

.break__logo::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.break__logo::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-image: url(../img/LogoMenu.png);
  background-size: contain;
  background-position: -20px center;
  background-repeat: no-repeat;
  z-index: 1;
  background-attachment: fixed;
}

@media (min-width: 760px) and (orientation: portrait) {
  .break__logo::before {
    background-position: 30% center;
    background-size: 550px 350px;
  }
}

@media (min-width: 1024px) and (orientation: portrait) {
  .break__logo::before {
    background-position: 40% center;
  }
}

@media (min-width: 560px) and (orientation: landscape) {
  .break__logo::before {
    background-size: 400px 250px;
    background-position: 35% center;
  }
}

@media (min-width: 730px) and (orientation: landscape) {
  .break__logo::before {
    background-position: 40% center;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .break__logo::before {
    background-size: 600px 400px;
  }
}

@media (min-width: 1300px) and (orientation: landscape) {
  .break__logo::before {
    background-size: 750px 500px;
    background-position: 45% center;
  }
}

.leistung {
  position: relative;
  width: 100%;
  background-color: #fff;
}

@media (min-width: 660px) and (orientation: landscape) {
  .leistung__wrapper {
    padding-top: 50px;
  }
}

@media (min-width: 660px) and (orientation: landscape) {
  .leistung__wrapper--heading {
    width: 90%;
    max-width: 600px;
  }
}

.leistung__wrapper--text {
  text-align: center;
  margin-bottom: 80px;
}

@media (min-width: 660px) and (orientation: landscape) {
  .leistung__wrapper--text {
    width: 90%;
    max-width: 600px;
    margin: 0 auto 100px;
  }
}

.leistung__wrapper--elemente {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: 950px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 100px;
}

@media (min-width: 560px) and (orientation: landscape) {
  .leistung__wrapper--elemente {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-height: 1024px) and (orientation: portrait) {
  .leistung__wrapper--elemente {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.leistung__wrapper--elemente-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 45px;
  margin: 0 auto 20px;
  border: 2px solid #AA8C41;
  border-radius: 50px;
}

@media (min-width: 560px) and (orientation: landscape) {
  .leistung__wrapper--elemente-element {
    width: 170px;
    margin: 0 auto 30px;
  }
}

@media (min-width: 730px) and (orientation: landscape) {
  .leistung__wrapper--elemente-element {
    width: 220px;
    height: 50px;
  }
}

@media (min-height: 1024px) and (orientation: portrait) {
  .leistung__wrapper--elemente-element {
    width: 220px;
    height: 50px;
  }
}

.leistung__wrapper--elemente-element__text {
  text-align: center;
}

@media (min-width: 560px) and (orientation: landscape) {
  .leistung__wrapper--elemente-element__text {
    font-size: 10px;
  }
}

@media (min-width: 730px) and (orientation: landscape) {
  .leistung__wrapper--elemente-element__text {
    font-size: 12px;
  }
}

.break__philosophie {
  position: relative;
  height: 170vh;
}

@media (min-width: 360px) and (orientation: portrait) {
  .break__philosophie {
    height: 130vh;
  }
}

@media (min-width: 360px) and (orientation: portrait) and (min-height: 810px) {
  .break__philosophie {
    height: 100vh;
  }
}

@media (min-width: 410px) and (orientation: portrait) {
  .break__philosophie {
    height: 105vh;
  }
}

@media (min-width: 760px) and (orientation: portrait) {
  .break__philosophie {
    height: 55vh;
  }
}

@media (min-width: 1024px) and (orientation: portrait) {
  .break__philosophie {
    height: 40vh;
  }
}

@media (min-width: 560px) and (orientation: landscape) {
  .break__philosophie {
    height: 170vh;
  }
}

@media (min-width: 640px) and (orientation: landscape) {
  .break__philosophie {
    height: 145vh;
  }
}

@media (min-width: 730px) and (orientation: landscape) {
  .break__philosophie {
    height: 135vh;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .break__philosophie {
    height: 60vh;
  }
}

@media (min-width: 1200px) and (orientation: landscape) {
  .break__philosophie {
    height: 50vh;
  }
}

.break__philosophie--bg {
  height: 170vh;
  width: 100%;
  position: absolute;
  background-image: url(../img/mountin2.jpg);
}

.break__philosophie--bg::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}

.break__philosophie--wrapper {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding-top: 100px;
}

@media (min-width: 560px) and (orientation: landscape) {
  .break__philosophie--wrapper {
    padding-top: 50px;
  }
}

@media (min-width: 660px) and (orientation: landscape) {
  .break__philosophie--wrapper {
    padding-top: 80px;
  }
}

.break__philosophie--wrapper-heading {
  margin-bottom: 50px;
}

@media (min-width: 560px) and (orientation: landscape) {
  .break__philosophie--wrapper-heading {
    margin-bottom: 30px;
  }
}

@media (min-width: 660px) and (orientation: landscape) {
  .break__philosophie--wrapper-heading {
    margin-bottom: 50px;
  }
}

.angebot {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-color: #fff;
}

.angebot__wrapper {
  padding-top: 50px;
}

.angebot__wrapper--heading {
  margin-bottom: 50px;
}

.angebot__wrapper--text {
  margin-bottom: 50px;
  text-align: center;
}

@media (min-width: 760px) and (orientation: portrait) {
  .angebot__wrapper--text {
    margin-bottom: 100px;
  }
}

.angebot__wrapper--elementeMobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 50px;
}

@media (min-width: 560px) and (orientation: landscape) {
  .angebot__wrapper--elementeMobile {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 760px) and (orientation: portrait) {
  .angebot__wrapper--elementeMobile {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.angebot__wrapper--elementeMobile__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

@media (min-width: 560px) and (orientation: landscape) {
  .angebot__wrapper--elementeMobile__element {
    width: 40%;
  }
}

@media (min-width: 760px) and (orientation: portrait) {
  .angebot__wrapper--elementeMobile__element {
    width: 40%;
  }
}

.angebot__wrapper--elementeMobile__element-symbol {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 160px;
  height: 160px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #AA8C41;
  border-radius: 50%;
  margin-bottom: 25px;
}

.angebot__wrapper--elementeMobile__element-symbol__ico {
  position: absolute;
  top: 15px;
  width: 70px;
  height: 70px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.angebot__wrapper--elementeMobile__element-symbol__text {
  position: absolute;
  top: 100px;
}

.angebot__wrapper--elementeMobile__element-description {
  text-align: center;
}

.analyse__ico {
  background-image: url(../ico/angebot/1analyse.png);
}

.planung__ico {
  background-image: url(../ico/angebot/2path.png);
}

.beratung__ico {
  background-image: url(../ico/angebot/3discuss.png);
}

.umsetzung__ico {
  background-image: url(../ico/angebot/4implementation.png);
}

.partnerschaft__ico {
  background-image: url(../ico/angebot/5partnerschip.png);
}

.kontakt {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #F8F8F8;
}
/*# sourceMappingURL=style.css.map */